global
    maxconn 15000

defaults
    log global
    mode tcp
    retries 2

    timeout client 25m
    timeout connect 5s
    timeout server 35m
    timeout check 10s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen psql_master_5432
    bind *:5432
    mode tcp
    maxconn 15000
    balance     leastconn
    option      allbackups
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server postgresql_65_master 10.10.0.71:5000 maxconn 15000 check port 8008
    server postgresql_66_master 10.10.0.72:5000 maxconn 15000 check port 8008
    server postgresql_67_master 10.10.0.73:5000 maxconn 15000 check port 8008

listen psql_slave_5400
    bind *:5400
    mode tcp
    maxconn 15000
    balance     leastconn
    option      allbackups
    option httpchk
    http-check expect status 503
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server postgresql_65_slave 10.10.0.71:5000 maxconn 15000 check port 8008
    server postgresql_66_slave 10.10.0.72:5000 maxconn 15000 check port 8008
    server postgresql_67_slave 10.10.0.73:5000 maxconn 15000 check port 8008
